<h3>Welcome to the app!</h3>

Hello {{ user.fullName }}! You've registered into the app!

Please confirm account by clicking this <a href="{{ url('security_confirm', {'token': user.confirmationToken}) }}">link</a>

<br /><br />To login, go to <a href="{{ url('security_login') }}">login page</a>.

Thanks!